<form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Upload">
    <input type="file" name="files" multiple />
    <button type="submit" value="Upload" >Upload</button>
</form>
<div>
    <vc:list-info count="6"></vc:list-info>
</div>
