@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" id="headingJokes" >Jokes Application</h1>
    <p>The best application for jokes and humor that you will find!</p>
</div>
