body{
    text-align: center;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    line-height: 1.15;
    color: #747474;
}

span{
    font-family: Helvetica, Arial, sans-serif;
    font-style: oblique;
    font-weight: 600;
    font-size: 16px;
    list-style: 1.46;
    color: #5c5a5a;
}

p{
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.46;
    color: #5c5a5a;
}
