*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    position: relative; 
}

section {
    position: absolute;
    top: 250px;
    left: 180px;
}

h3 {
    font-size: 16px;
    margin: 0px;
}

span {
    padding-left: 3px;
    color: gray;
    font-size: 14px;
}

div{
    position: relative;
    bottom: 50px;
    left: 8px;
}

img.model{
    position: absolute;
    padding-left : 1rem;
}
