@model ProductDto

@{
    ViewBag.Title = "Edit product";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

 <div class="row">
        <form method="post">
            <div class="form-group">
                <div class="mb-3">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" placeholder="Write your product here..." class="form-control" value="@Model.Name" />
                    <span asp-validation-for="Name" class="small text-danger"></span>
                </div>
            </div>
            @if (Model != null && Model?.Name.Length > 80)
            {
                @*<p id="nameMaxValidation" style="color:red">The maximum of characters for Name is 80!</p>*@
                <script>
                    alert("The maximum of characters for Name is 80!");
                </script>
            }
            else{
                <script>
                    document.getElementById("nameMaxValidation").style.display="none";
                </script>
            }
            <input type="submit" class="btn btn-primary mt-3" value="Edit" />
        </form>
    </div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
