html {
    font-family: Arial, Helvetica, sans-serif;
}

.page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

body {
    padding: 3rem;
    background-color: rgb(238, 238, 238);
}

a {
    color: rgb(0, 153, 0);
    text-decoration: none;
}

.header {
    border-bottom: 3px solid black;
    flex-basis: 100%;
}

.header p {
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 20px;
}

p {
    margin-bottom: 1rem;
    font-size: 16px;
    line-height: 25px;
}

#author {
    font-family: Georgia, serif;
    font-size: 12px;
    font-style: italic;
    float: right;
    width: 50%;
    height: 100%;
    border-left: 4px solid rgb(221, 221, 221);
    margin-left: 2rem;
}

#author p {
    margin-left: 35px;
    opacity: 0.7;
}

#author :last-child {
    text-align: right;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

h2, h3 {
    font-family: Georgia, serif;
}

h2, .page header {
    margin-bottom: 1rem;
}

h3.categories {
    font-size: 1em/1.2;

}

.page .second {
    float: right;
    width : 13rem;
    margin-bottom: 3rem;
    margin-left: 2rem;
}

.page .first {
    float: left;
    width : 13rem;
    margin-bottom: 3rem;
    margin-right: 2rem;
}

.page div.container-image {
    display: inline-block;
    background-color: rgb(255, 255, 255) ;
    box-shadow: 0 0px 10px 12px rgb(0 0 0 / 0.25);
    border: 0.4rem solid #000;
    padding: 0.5rem;
    vertical-align: middle;
}

.page article {
    width: 65%;
}

.page aside {
    width: 30%;
}