@{
    ViewBag.Title = "Home";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<p>This is  the Home page.</p>
@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@
