@import 'https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Raleway:ital@0;1&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Great+Vibes&family=Raleway:ital@0;1&display=swap';

html {
    font-family: Raleway, sans-serif;
    font-size: 16px;
    line-height: 1.5;

}

h1,h2 {
    font-family: Great Vibes, cursive;
    line-height: 1.2;
    font-weight: bold;
}
